<div class="prof-input_group">
    <label for="{{id}}">
        <div class="prof-input_name">
            {{text}}
        </div>

        <div class="prof-input_item">
            <input
                    type="{{type}}"
                    id="{{id}}"
                    placeholder="{{placeholder}}"
                    name="{{name}}"
                    value="{{value}}"
                    {{required}}
                    {{disabled}}
            />
        </div>
    </label>
</div>